* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* making 1rem = 10px */
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background: rgb(251, 247, 247);
}

.logo {
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  margin: 3rem;
  color: rgb(133, 42, 0);
}

.form {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.message {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}

.success {
  color: green;
}

.warning {
  color: red;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  min-width: 7.2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.task-list {
  border: 0.5rem solid rgb(119, 6, 6);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.task-list__logo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(133, 42, 0);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 0.1rem solid black;
}

.new-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-left: 1rem;
  border: solid 0.2rem rgb(25, 12, 12);
  border-radius: 1rem;
  margin: 1rem;
}

.primary {
  background: blue;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
}

.secondary {
  background: red;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
}
